<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>BetBuddy</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/toastr.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  
  <div id="page-wrapper">

    <!-- SIVUPALKKI -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a href="#"><strong>Bet</strong>Buddy
          <span class="menu-icon"><strong>1X2</strong></span>
          </a>
        </li>
        <li class="sidebar-title"><span>Pelimuodottain</span></li>
        <li class="sidebar-list"><a href="#">Kaikki</a></li>
        <li class="sidebar-list"><a href="vedot/pelimuoto/pitkäveto">Pitkävedot</a></li>
        <li class="sidebar-list"><a href="vedot/pelimuoto/Tulosveto">Tulosvedot</a></li>
        <li class="sidebar-title"><span>Kohteittain</span></li>
        <li class="sidebar-list"><a href="#">Singlet</a></li>
        <li class="sidebar-list"><a href="#">Tuplat</a></li>
        <li class="sidebar-list"><a href="#">Triot</a></li>
        <li class="sidebar-list"><a href="#">Muut</a></li>
        <li class="sidebar-title"><span>Tilastot liigoittain</span></li>
        <li class="sidebar-list"><a href="#">NFL</a></li>
        <li class="sidebar-list"><a href="#">Valioliiga</a></li>
        <li class="sidebar-list"><a href="#">SM-Liiga</a></li>
        <li class="sidebar-list"><a href="#">Mestareidenliiga</a></li>
        <li class="sidebar-list"><a href="#">La Liga</a></li>
        <li class="sidebar-list"><a href="#">Serie A</a></li>
      </ul>
    </div>
    <!-- SIVUPALKKI LOPPU -->

    <!-- CONTENT WRAPPER -->
    <div id="content-wrapper">
      <div class="header">
        <div class="col-sm-12" id="tilastobar">
          <table>
          <thead>
            <tr>
              <th>Kappaletta</th>
              <th>Keskim. panos</th>
              <th>Panokset yht.</th>
              <th>Voitot kpl</th>
              <th>Voitot yht.</th>
              <th>Osumisprosentti</th>
              <th>Palautusprosentti</th>
              <th>Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr data-bind="foreach: tilastot">
              <td data-bind="text: kpl"></td>
              <td data-bind="valuutta: avgPanos"></td>
              <td data-bind="valuutta: panoksetYht"></td>
              <td data-bind="valuutta: voitotYht"></td>
              <td data-bind="text: voitotKpl"></td>
              <td data-bind="prosentti: osumisprosentti"></td>
              <td data-bind="prosentti: palautusprosentti"></td>
              <td data-bind="valuutta: saldo"></td>
            </tr>
          </tbody>
        </table>

        </div>
        </div>
      </div>
      <!-- HEADER LOPPU -->
      <div class="row">
        <div class="col-sm-6 bg">
          <table class="table table-striped vedot-taulukko">
            <thead>
              <tr>
                <th>Booker</th>
                <th>Pelimuoto</th>
                <th>Kohteita</th>
                <th>Panos</th>
                <th>Kerroin</th>
                <th>Voitto</th>
                <th>Toiminnot</th>
              </tr>
            </thead>
            <tbody data-bind="foreach: vedot">
              <tr data-bind="click: $root.valitseVeto">
                <td data-bind="text: booker"></td>
                <td data-bind="text: pelimuoto"></td>
                <td data-bind="text: kohteet.length"></td>
                <td data-bind="text: panos"></td>
                <td data-bind="text: kerroin"></td>
                <td data-bind="text: voitto"></td>
                <td><a href="#" data-bind="click: $root.poistaVeto">Poista</a></td>
                <td><a href="#" data-bind="click: $root.muokkaa">Muokkaa</a></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- VEDON TIEDOT -->
        <div class="col-sm-3 bg" id="vedonTiedot" data-bind="with: valittuVeto">
          <ul>
            <li data-bind="text: _id"></li>
            <li data-bind="text: pvm"></li>
            <div data-bind="foreach: kohteet">
              <strong>Liiga:</strong><p data-bind="text: liiga"></p>
              <p data-bind="text: ottelu"></p>
              <p data-bind="text: tyyppi"></p>
              <p data-bind="text: veikkaus"></p>
              <p data-bind="text: kerroin"></p>
              <p data-bind="text: tulos"></p>
              <p data-bind="text: osuma"></p>
            </div>
          </ul>
        </div>

        <!-- Lisäys -->
        <div class="col-sm-3 bg">
        <button type="button" class="btn btn-primary" data-bind="click: aloitaTallennus">Lisää veto</button>

        <div id="vetoLomake" data-bind="visible: tallennusLomake.isVisible">
          <input type="text" data-bind="value: tallennusLomake.pelimuoto" placeholder="pelimuoto">
          <input type="text" data-bind="value: tallennusLomake.booker" placeholder="booker">
          <input type="text" data-bind="value: tallennusLomake.panos" placeholder="panos">
          <input type="text" data-bind="value: tallennusLomake.kerroin" placeholder="kerroin">
          <input type="text" data-bind="value: tallennusLomake.voitto" placeholder="voitto">
          <div data-bind="foreach: tallennusLomake.kohteet">
            <input type="text" data-bind="value: liiga">
            <input type="text" data-bind="value: ottelu">
            <input type="text" data-bind="value: tyyppi">
            <input type="text" data-bind="value: veikkaus">
            <input type="text" data-bind="value: kerroin">
            <input type="text" data-bind="value: tulos">
            <input type="text" data-bind="value: osuma">
          </div>
          <button type="button" class="btn btn-primary" data-bind="click: lisaaKohde">Lisää kohde</button>
          <button type="button" class="btn btn-primary" data-bind="click: tallennaVeto">Tallenna veto</button>
        </div>
          <h1>Lisää</h1>
          <input type="text" data-bind="value: sys">
          <button data-bind="click: tallennaSysteemi">Testaa</button>
        </div>
      </div>
    </div>

  </div>
  <!-- PAGE WRAPPER LOPPU -->

  <!-- JAVASCRIPT -->
  <!-- <script src="js/all.js"></script> -->
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/knockout-3.1.0.js"></script>
  <script src="js/toastr.min.js"></script>
  <script src="js/customBindings.js"></script>
  <script src="js/main.js"></script>
</body>
</html>