<!DOCTYPE html>
<html ng-app="betBuddy">
<head>
	<meta charset="utf-8">
	<title>BetBuddy</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles.min.css">
</head>
<body>
	
	<!-- YLÄPALKKI -->
	<div id="topbar">
		<h1><span>Bet</span>Buddy - <span data-bind="text: nimi"></span></h1>
	</div>

	<div id="wrapper">

		<!-- SIDEBAR -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="selected">
				<a href="#">Kaikki</a></li>
				<li><a href="#">Pitkävedot</a></li>
				<li><a href="#">Tulosvedot</a></li>
				<li><a href="#">Monivedot</a></li>
			</ul>
		</div>
		
		<!-- MAIN CONTENT -->
		<div id="page-content-wrapper">

			<!-- TILASTOT -->
			<div id="tilastobar">
				<h2>Tilastot tänne</h2>
			</div>

		</div>

	<!-- END OF WRAPPER -->
	</div>

	<script src="js/knockout-3.1.0.js"></script>
	<script src="js/main.js"></script>
</body>
</html>